.user-image{
    margin-top: .5rem;
    border-radius: 5px;
    width: 70%;
    height: 170px;
    object-fit: fill;
    align-items: center;
    justify-content: center;
    background: rgb(241 246 255 / 98%);
    
}


.column-6{
    float: left;
    margin-right: -100%;
    width: 41.96%;
}

.column-7{
    float: left;
    margin-right: -100%;
    width: 49.22%;
    list-style: none;
}

.user-page-profile{
    background-color: #F2F2F2;
    border-radius: 5px;
    position: relative;
    display: block;
    float: left;
    width: 100%;
}


.push-1{
    margin-left: 7.2525%
}

.active{
    padding-bottom: 30px;
    width: 100%;
}

.user-results {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-size: 100% 1px;
    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/content_bg.png);
    background-position-x: left;
    background-position-y: top;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-color: transparent;
    display: table;
    overflow: visible;
    position: relative;
    height: auto;
    padding: 1em 0;
}